.SideBar {
    background-color: #276967;
    width: 25%;
    display: flex;
    flex-direction: column;
    color: #d6d1af;
}

.top-bar {
    height: 60%;
}

.Reports {
    height: 40%;
    width: 100%;
    background-color: #041721;
}

.LineIds {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.LineIdButton.active {
    background-color: #df912d;
    ;
}

.LineIdButton {
    background-color: white;
    width: 25%;
    color: #041721;
    /* height: 25px; */
    border-radius: 3px;
    outline: 2px solid #276967;
}

.LineIdButton:hover {
    cursor: pointer;
}

input {
    width: 100%;
    border: none;
    padding: 0;
    height: 30px;
}

.MapContainer {

    border-right: 10px solid #df912d;
}

.report-problem-button {
    background-color: rgb(223, 145, 45);
    color: #041721;
    border: none;
    width: 80%;
    height: 30px;
    margin: 6px 0;
    border-radius: 4px;
}

.report-problem-button:hover {
    cursor: pointer;
    background-color: rgba(223, 145, 45, 0.7);
    ;
    transition: background-color 0.5s ease-in-out;
}

.ReportFeedItem {
    border-top: 2px solid #df912d;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding-left: 10px;
}

.ReportFeedItem:hover {
    background-color: #082e43;
}

.line-number {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 700px) {
    .SideBar {
        width: 40%;
    }
}